{% extends "base.html" %} {% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home/alunos/form/">Alunos</a>
        </li>
        <li class="breadcrumb-item active">Cadastrando Alunos</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" class="form-validate" action="/home/alunos/form/" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{for.name.id_for_label}}">Nome</label>
                            <div>
                                {{form.name}} {% for error in form.name.errors %}
                                <label for="{{for.name.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{for.registration.id_for_label}}">Matrícula</label>
                            <div>
                                {{form.registration}} {% for error in form.registration.errors %}
                                <label for="{{for.registration.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="{{for.date_of_birth.id_for_label}}">Data de nascimento</label>
                            <div>
                                {{form.date_of_birth}} {% for error in form.date_of_birth.errors %}
                                <label for="{{for.date_of_birth.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{for.genrer.id_for_label}}">Gênero</label>
                            <div>
                                {{form.genrer}} {% for error in form.genrer.errors %}
                                <label for="{{for.genrer.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{for.turma.id_for_label}}">Turma</label>
                            <div>
                                {{form.turma}} {% for error in form.turma.errors %}
                                <label for="{{for.turma.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{for.course.id_for_label}}">Curso</label>
                            <div>
                                {{form.course}} {% for error in form.course.errors %}
                                <label for="{{for.course.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>

                </div>
            </section>
        </div>

    </div>
</div>
{% endblock %}