{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data Nascimento</th>
                        <th>CPF</th>
                        <th>Sexo</th>
                        
                        

                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{student.name}}</td>
                        <td>{{student.registration}}</td>
                        <td>{{student.year}}</td>
                        <td>{{student.genre}}</td>
                        
    
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <p>Foram encontrados {{students | length}} cadastrados!</p>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</body>

</html>

{% endblock %}