{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-11">
            <form action="">
                <div>
                    <input type="text"  id='name' name="registration" placeholder="Digite a Matrícula">
                </div>
                <button type='submit'>
                    Buscar
                </button>
            </form>
        </div>
        <a href='form'>
            <button>novo</button>
        </a>
    </div>

    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Ano de nascimento</th>
                    <th>Sexo</th>
                    <th>Turma</th>
                    <th>Curso</th>

                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{student.name}}</td>
                    <td>{{student.registration}}</td>
                    <td>{{student.year}}</td>
                    <td>{{student.genre}}</td>
                    <td>{{student.turma}}</td>
                    <td>{{student.course}}</td>



                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>



</div>
{% endblock %}