{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-4">
            <form action="">
                <div>
                    <input type="text" id='name' name="name" placeholder="Digite o curso">
                </div>
                <button type='submit'>
                    Buscar
                </button>
            </form>
        </div>
    </div>
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Modalidade</th>
                    <th>Turno</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.modality}}</td>
                    <td>{{course.shift}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>



</div>
{% endblock %}